@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@font-face {
  font-family: Orbitron;
  src: url('/assets/fonts/Orbitron/Orbitron-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Orbitron;
  src: url('/assets/fonts/Orbitron/Orbitron-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Orbitron;
  src: url('/assets/fonts/Orbitron/Orbitron-SemiBold.ttf');
  font-weight: 600;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  @apply bg-black
}