@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@font-face {
  font-family: Orbitron;
  src: url('/assets/fonts/Orbitron/Orbitron-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Orbitron;
  src: url('/assets/fonts/Orbitron/Orbitron-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Orbitron;
  src: url('/assets/fonts/Orbitron/Orbitron-SemiBold.ttf');
  font-weight: 600;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  @apply bg-black overflow-x-hidden;
}

.banner-gradient {
  background: linear-gradient(180deg, #000000 0%, #200D42 36.21%, #4F21A1 68.68%, #A46EDB 86.54%);
}
.footer-gradient {
  background: linear-gradient(180deg, #000000 0%, #200D42 36.21%, #4F21A1 68.68%, #A46EDB 86.54%);
}

.border-gradient {
  background: linear-gradient(109.46deg, rgba(98, 98, 98, 0.24) 1.57%, rgba(196, 196, 196, 0.03) 100%);
}

.gradient-border {
  border: 2.44px solid;
  background: linear-gradient(108.87deg, rgba(255, 255, 255, 0.8) 0.66%, rgba(211, 211, 211, 0.1) 99.48%);
  border-radius: 32.98px;
}

.light-gradient {
  background: linear-gradient(180deg, rgba(236, 79, 47, 0.2) 0%, rgba(171, 88, 232, 0.2) 100%);
}
.bg-gradient2 {
  background: linear-gradient(109.46deg, rgba(201, 201, 201, 0.24) 1.57%, rgba(196, 196, 196, 0.03) 100%);
}

.bg-gradient3 {
  background: linear-gradient(180deg, #000000 0%, rgba(93, 44, 168, 0.85) 57.83%, #000000 100%);
}
.btn-gradient {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04)),
  radial-gradient(107.5% 107.5% at 50% 215%, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 100%); 
}

.txt-gradient {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 8.85%, #FFFFFF 100%);
}

.input-gradient-border {
  background: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
}
.bg-gradient-contact {
  background: linear-gradient(180deg, #000000 0%, rgba(93, 44, 168, 0.85) 57.83%, #000000 100%);
}

.text-style {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.bg-gradient-enhance {
  background: linear-gradient(180deg, #000000 0%, rgba(93, 44, 168, 0.85) 57.83%, #000000 100%);
}

.bg-features {
  background: linear-gradient(180deg, #000000 0%, #200D42 36.21%, #4F21A1 68.68%, #A46EDB 86.54%);
}

.bg-features-reward {
  background: linear-gradient(180deg, #000000 0%, rgba(93, 44, 168, 0.85) 57.83%, #000000 100%);
}

.spinner-container {
  background: transparent !important;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  border: 7px solid;
  border-top-color: #36d7b7;
  border-bottom-color: transparent;
  border-left-color: #36d7b7;
  border-right-color: #36d7b7;
  display: inline-block;
  animation: react-spinners-ClipLoader-clip 0.75s 0s infinite linear;
  animation-fill-mode: both;
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: 50;
}

.btn-hover:hover {
  background: linear-gradient(to right, #000000 0%, #240064 33%, #673FAE 67%, #A46EDB 100%);
  width: 160px;
  transform: scale(0.95);
  transition: width 0.3s, background 0.3s, transform 0.3s;
}

.btnJoin-hover:hover {
  background: linear-gradient(to right, #000000 0%, #240064 33%, #673FAE 67%, #A46EDB 100%);
  transition: width 0.3s, background 0.3s, transform 0.3s;
}